language: go
go:
  - '1.6'
  - '1.7'

before_install:
  # Setup Glide
  - go get github.com/Masterminds/glide

install:
  - glide install
  - go build

before_script:
  # Install Ruby and Bundler
  - sudo apt-get -q install ruby
  - gem install bundler
  - bundle install

script:
  - bundle exec rspec
