name: release
run-name: Prepare ${{ inputs.tag }} for release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        type: string
        required: true

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - id: version
        run: echo "${{ inputs.tag }}" | sed -E "s/^v?/version=/" >> $GITHUB_OUTPUT
  build-linux:
    uses: ./.github/workflows/release-build-linux.yml
    needs: version
    with:
      tag: ${{ inputs.tag }}
      version: ${{ needs.version.outputs.version }}
  verify-deb-ubuntu:
    uses: ./.github/workflows/release-verify-deb-ubuntu.yml
    needs: [version, build-linux]
    with:
      version: ${{ needs.version.outputs.version }}
  verify-rpm-rhel:
    uses: ./.github/workflows/release-verify-rpm-rhel.yml
    needs: [version, build-linux]
    with:
      version: ${{ needs.version.outputs.version }}
