name: release-verify-deb-ubuntu

on:
  workflow_call:
    inputs:
      version:
        description: "Version without the leading 'v'"
        type: string
        required: true

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: artifact
      - run: |
          dpkg --info quickhook-${{ inputs.version }}-linux-amd64.deb
          dpkg --contents quickhook-${{ inputs.version }}-linux-amd64.deb
          sudo apt install ./quickhook-${{ inputs.version }}-linux-amd64.deb
      - run: |
          quickhook --version
          [[ $(quickhook --version) == "${{ inputs.version }}" ]]
